.bs-tabs .multicolumnwizard .tl_modulewizard {
    max-width: 100%;
}

.bs-tabs .multicolumnwizard .tl_select {
    width: 100% !important;
}

.bs-tabs .multicolumnwizard table {
    table-layout:fixed
}

.bs-tabs .multicolumnwizard td {
    width: 25%;
}

.bs-tabs .multicolumnwizard td:nth-child(4) {
    width: 15%;
}

.bs-tabs .multicolumnwizard td:last-child {
    width: 10%;
}

.bs-tabs .multicolumnwizard td:first-child {
    width: 20%;
}

.bs-tabs .multicolumnwizard .tl_imageSize_0 {
    margin-left: 0;
}

.wrapper_start, 
.wrapper_stop {
    background: #eaeaea;
}

.nav-tabs {
    display: flex;
}

.nav-tabs li + li {
    margin-left: 0.5em;
}

.nav-tabs button {
    appearance: none;
    border-style: solid;
    border-bottom: 0;
    padding: 0.5em 1em;
    border-color: rgb(180, 180, 180);
    border-radius: 12px 12px 0 0;
    background-color: #fff;
}
